<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./assets/style/reset.css">
    <link rel="stylesheet" href="./assets/style/grid.css">
    <link rel="stylesheet" href="./assets/style/index.css">
    <title>Shop Homepage</title>
</head>
<body>
    <header>
        <nav class="container navigation-bar">
            <div class="logo">
                <h1><a href="index.html">Start Bootstrap</a></h1>
            </div>
            <ul class="links">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Shop</a></li>                
            </ul>
            <div class="cart">
                <button><i class="fa-solid fa-cart-shopping"></i>  Cart </button>
            </div>
            <div class="hamburger-menu">
                <button><i class="fa-solid fa-bars"></i></button>
            </div>
        </nav>
    </header>

    <main>
        <section id="hero">
            <div class="container">
                <h1>Shop in style</h1>
                <p>With this shop hompeage template</p>
            </div>
        </section>
        <section id="cards">
            <div class="container">
                    <div class="row" >
                        <div class="box col-3 col-md-4 col-sm-6">
                            <div class="all-boxes">
                                <div class="box-img">
                                    <img src="./assets/images/bg.jpg" alt="background">
                                </div>
                                <div class="box-info">
                                    <h2>Fancy Product</h2>
                                    <p>$40.00 - $80.00</p>
                                    <br> 
                                </div>
                                <div class="view">
                                    <button>View options</button>
                                </div>
                            </div>
                        </div>

                        <div class="box col-3 col-md-4 col-sm-6">
                            <div class="all-boxes">
                                <div class="box-img">
                                    <img src="./assets/images/bg.jpg" alt="background">
                                </div>
                                <div class="box-info">
                                    <h2>Special item</h2>
                                    <ul>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                    </ul>
                                    <p> <s>$20.00</s> $18.00</p>
                                </div>
                                <div class="view">
                                    <button>Add to cart</button>
                                </div>
                            </div>
                        </div>

                        <div class="box col-3 col-md-4 col-sm-6">
                            <div class="all-boxes">
                                <div class="box-img">
                                    <img src="./assets/images/bg.jpg" alt="background">
                                </div>
                                <div class="box-info">
                                    <h2>Sale item</h2>
                                    <p> <s>$50.00</s> $25.00</p>
                                    <br>
                                </div>
                                <div class="view">
                                    <button>Add to cart</button>
                                </div>
                            </div>
                        </div>

                        <div class="box col-3 col-md-4 col-sm-6">
                            <div class="all-boxes">
                                <div class="box-img">
                                    <img src="./assets/images/bg.jpg" alt="background">
                                </div>
                                <div class="box-info">
                                    <h2>Popular item</h2>
                                    <ul>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                    </ul>
                                    <p>$40.00</p>
                                </div>
                                <div class="view">
                                    <button>Add to cart</button>
                                </div>
                            </div>
                        </div>

                        <div class="box col-3 col-md-4 col-sm-6">
                            <div class="all-boxes">
                                <div class="box-img">
                                    <img src="./assets/images/bg.jpg" alt="background">
                                </div>
                                <div class="box-info">
                                    <h2>Sale item</h2>
                                    <p> <s>$50.00</s> $25.00</p>
                                    <br>
                                </div>
                                <div class="view">
                                    <button>Add to cart</button>
                                </div>
                            </div>
                        </div>

                        <div class="box col-3 col-md-4 col-sm-6">
                            <div class="all-boxes">
                                <div class="box-img">
                                    <img src="./assets/images/bg.jpg" alt="background">
                                </div>
                                <div class="box-info">
                                    <h2>Fancy Product</h2>
                                    <p>$120.00 - $280.00</p>
                                    <br>
                                </div>
                                <div class="view">
                                    <button>View Options</button>
                                </div>
                            </div>
                        </div>

                        <div class="box col-3 col-md-4 col-sm-6">
                            <div class="all-boxes">
                                <div class="box-img">
                                    <img src="./assets/images/bg.jpg" alt="background">
                                </div>
                                <div class="box-info">
                                    <h2>Special item</h2>
                                    <ul>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                    </ul>
                                    <p> <s>$20.00</s> $18.00</p>
                                </div>
                                <div class="view">
                                    <button>Add to cart</button>
                                </div>
                            </div>
                        </div>

                        <div class="box col-3 col-md-4 col-sm-6">
                            <div class="all-boxes">
                                <div class="box-img">
                                    <img src="./assets/images/bg.jpg" alt="background">
                                </div>
                                <div class="box-info">
                                    <h2>Popular item</h2>
                                    <ul>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                    </ul>
                                    <p>$40.00</p>
                                </div>
                                <div class="view">
                                    <button>Add to cart</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <div class="container">
            <p>Copyright © Your Website 2023</p>
        </div>
    </footer>
</body>
</html>