body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: purple;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    font-size: 24px;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu li {
    margin-right: 50px;
}

.menu a {
    text-decoration: none;
    color: white;
}

.slider img{
    width: 100%;
}

.main-content {
    padding: 32px;
}

#searchInput {
    width: 99%;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#noDataMessage {
    font-size: 16px;
    margin-top: 5px;
}

#sortByYearButton {
    background-color: purple;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 16px 0;
}

#sortByYearButton:hover {
    background-color: #a041ae;
}

label {
    font-size: 16px;
}

#genreFilter {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    row-gap: 50px;
    column-gap: 15px;
}

.card {
    background-color: #fff;
    padding: 1rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.card img {
    max-width: 100%;
    height: auto;
}

.card h2 {
    font-size: 20px;
    margin: 8px 0;
}

.edit-button, .delete-button, .add-basket-button, .info-button{
    background-color: #a041ae;
    color: white;
    border: none;
    padding: 5px 8px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 8px;
}

.edit-button:hover, .delete-button:hover, .add-basket-button:hover, .info-button:hover{
    background-color: purple;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

.close {
    color: gray;
    margin-left: 730px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: black;
}

form {
    display: grid;
    gap: 10px;
}

label {
    font-weight: bold;
}

input[type="text"], input[type="number"], select {
    width: 99%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.error {
    color: red;
    font-size: 14px;
}

button {
    padding: 10px 20px;
    background-color: #599d5b;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:disabled {
    background-color: #ccc;
    cursor: pointer;
}
